{
  "extends": [
    "airbnb-base",
    "plugin:jest/recommended",
    "plugin:react-native/all",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native",
    "import",
    "jsx-a11y",
    "jest"
  ],
  "rules": {
    "class-methods-use-this": 0,
    "react/prop-types": 2,
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "no-unused-vars": [2, { "vars": "all", "args": "after-used", "argsIgnorePattern": "^_", "ignoreRestSiblings": true }],
    "react-native/no-inline-styles": 2,
    "react-native/no-color-literals": 2,
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/valid-expect": "error",
    "import/no-extraneous-dependencies": 0,
    "global-require": 1,
    "import/prefer-default-export": 0,
    "react/jsx-boolean-value": 2,
    "react/jsx-no-bind": [2, {
      "ignoreRefs": true,
      "allowArrowFunctions": true,
      "allowBind": false
    }]
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalDecorators": true
    }
  },
  "env": {
    "jest/globals": true
  }
}
