node_modules/**/*
.expo/*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
.vscode/
npm-debug.*
coverage/
.DS_Store
ios/*.xcuserstate
ios/*.xcworkspace/xcuserdata
*.bak
ios/moi/Supporting/EXBuildConstants.json
ios/moi/Supporting/EXBuildConstants.plist
ios/moi/Supporting/EXBuildConstants.plist.bak
ios/*.ipa
ios/*.app.dSYM.zip
.env
.env.*
ios/build/
android/build/
android/app/build
android/app/release
android/local.properties
*.patch
ios/Pods/*
android/.idea/
android/.gradle/
