node_modules/
.vscode/
.expo/
npm-debug.*
coverage/
.DS_Store
xcuserdata
*.xcuserstate
project.xcworkspace
*.bak
ios/moi/Supporting/EXBuildConstants.json
ios/moi/Supporting/EXBuildConstants.plist
ios/moi/Supporting/EXBuildConstants.plist.bak
ios/*.ipa
ios/*.app.dSYM.zip
.env
.env.*
ios/build/
